body{
  padding-top: 1vh;
}
.main-container{
  width: 94vw;
  height: 88vh;
  border: 1px solid var(--color-primary) ;
  overflow-y: auto;
}

.welcome-message{
  text-align: center;
  color: var(--color-pure2);
}
