/* INPUT */
.chat-input {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.8rem 1rem;
  border-top: 1px solid var(--muted);
  background-color: var(--color-secondary);
}

.input-field {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--muted);
  color: var(--color-pure2);
}

.input-field::placeholder {
  color: var(--color-pure);
}
