.input {
  display: none;
}

.messaging-panel-container {
  position: fixed;
  right: 1%;
  top: 50%;
  z-index: 1000;
}

.messaging-panel-wrapper {
  position: relative;
}

.press {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.press:hover {
  background-color: var(--muted);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.messaging-container {
  position: absolute;
  right: 3.5rem;
  bottom:-17rem;
  width: 30vw;
  min-width: 300px;
  height: 70vh;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 15px;
  box-shadow: 0 4px 18px var(--color-pure2);
  transform: scale(0);
  transform-origin: right center;
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input:checked ~ .messaging-container {
  transform: scale(1);
}

.placeholder-text {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  opacity: 0.8;
}

/* MENSAJES */
.chat-messages {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
  overflow-y:scroll;
  height: 50vh;
}
