mat-button-toggle-group{
  border: 3px solid var(--color-primary);
}
mat-button-toggle.mat-button-toggle-checked {
  background-color: var(--color-primary); /* Tu color personalizado */
  color: --var(--color-pure); /* Texto blanco si quieres más contraste */
}

/* Botones NO seleccionados */
mat-button-toggle:not(.mat-button-toggle-checked) {

  color: --var(--color-pure); /* opcional: para que el texto no desaparezca */
}

/* Opcional: transición suave */
mat-button-toggle {
  transition: background-color 0.3s ease;
}

