.empty-message{
  color: var(--color-pure2);
  text-align: center;
}

.other-container {
  margin-top: -50px;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-pure2);
  border-radius: 10px;
}

.other-buttons {
  display: flex;
  position: relative;
  border-bottom: 2px solid var(--muted);
  margin-bottom: 1rem;
}

.tab-button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  color: var(--muted);
  position: relative;
}

.tab-button.active {
  color: var(--color-pure2);
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 90px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
  transform: translateX(0%);
}

.tab-content {
  max-height: 150px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}
